body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #1- Small devices - Portrait phones */
@media (max-width: 575.98px) {
}

/* #1- Small devices - Landscape phones */
@media (max-width: 767.98px) {
}

/* #2- Portrait and Landscape tablets  */
@media (max-width: 991.98px) {
}

/* #3- Laptop with MDPI   */
@media (max-width: 1199.98px) {
}

/* #3- Laptop with HiDPI   */
@media (min-width: 1199.99px) {
}
